*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:16p;

}

body{
background-color:blue;
}

main{
    background-color: rgb(240, 236, 236);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}

h1{
   font-size: 2em; 
   color: rgb(50, 0, 112);
}

h2{
font-size: 1.5em;
color: rgb(50, 0, 112);
}

img.lado{
    float: left;
}
